name: CI
on: [push]

env:
  SEQ_DB: sequelize_test
  SEQ_USER: sequelize_test
  SEQ_PW: sequelize_test

jobs:
  test-mysql-mariadb:
    strategy:
      fail-fast: false
      matrix:
        db:
          - '{ name: "MySQL 5.7", image: "mysql:5.7", dialect: "mysql" }'
          # - '{ name: "MariaDB 10.3", image: "mariadb:10.3", dialect: "mariadb" }'
        combination: ['v6']
        attempt: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
    name: ${{ fromJson(matrix.db).name }} (${{ matrix.combination }})
    runs-on: ubuntu-latest
    services:
      mysql:
        image: ${{ fromJson(matrix.db).image }}
        env:
          MYSQL_DATABASE: sequelize_test
          MYSQL_USER: sequelize_test
          MYSQL_PASSWORD: sequelize_test
          MYSQL_ROOT_PASSWORD: sequelize_test
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin -usequelize_test -psequelize_test status" --health-interval 10s --health-timeout 5s --health-retries 5 --tmpfs /var/lib/mysql:rw
    env:
      DIALECT: ${{ fromJson(matrix.db).dialect }}
      CI_COMBINATION: ${{ matrix.combination }}
      DEBUG: 'sequelize:*'
    steps:
      - run: mysql --host 127.0.0.1 --port 3306 -uroot -psequelize_test -e "GRANT ALL ON *.* TO 'sequelize_test'@'%' with grant option; FLUSH PRIVILEGES;"
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: /bin/bash ./setup/prepare-ci.sh
      - name: Execute SSCCE
        run: npm run ci
